.container{
    max-width: 800px;
    min-width: 320px;
    margin: 0 auto;
    position: relative;
}

.header{
    border: 1px solid grey;
    padding: 5px 15px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
}
button {
    background-color: blue;
    border: none;
    padding: 5px 15px;
    color: #ffffff;
}
input {
    padding: 5px 5px;
}
.clearfix::after {
    display: block;
    content: "";
    clear: both;
}

.header__ms{
    max-width: 800px;
    min-width: 320px;
    margin: 0 auto;
    position: relative;
    padding-right: 70px;
    box-sizing: border-box;
}

.header__ms-message{
    width: 100%;
    box-sizing: border-box;
}

.header__submit{
    position: absolute;
    right: 0;
    top: 1px;
}

.header__user{
    padding: 5px;
    font-size: 22px;
    font-weight: bold;
}

.header__follow-user{
    float: right;
}

.message__list{
    padding: 5px 0;
    padding-top: 70px;
}

.message__item{
    border: 1px solid grey;
    margin: 5px 0;
}

.message__user-name{
    background-color: blue;
    color: #ffffff;
    padding: 5px 15px;
}

.message__inner-msg{
    padding: 5px 15px;
}

.popup{
    position: fixed;
    top: 20px;
    padding-bottom: 100px;
    display: none;
    background-color: #ffffff;
    width: 320px;
    margin-left: -160px;
    border: 1px solid gray;
    left: 50%;
}

.popup__header{
    border-bottom: 1px solid gray;
    font-size: 20px;
    padding: 5px;
}

.popup__close{
    float: right;
}

.popup label{
    display: block;
    text-align: center;
    padding: 5px;
}

.popup__submit{
    position: absolute;
    bottom: 10px;
    right: 10px;
}